@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Recursive-Bold';
  src: url('./fonts/Recursive-Bold.ttf') format('truetype');
}

body {
  font-family: "Poppins-Regular", "Roboto", sans-serif;
  color: #37648C;
}

img {
  position: absolute;
  display: block;
  max-width: 652px;
  max-height: 100vh;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
}

h1 {
  font-family: "Recursive-Bold", "Roboto", sans-serif;
  color: #A60311;

  position: absolute;
  width: 558px;
  height: 207px;
  left: 720px;
  top: 329px;

  font-weight: 700;
  font-size: 12vh;
  line-height: 89px;
  display: flex;
  align-items: center;

}

h2 {
  font-family: "Recursive-Bold", "Roboto", sans-serif;
  color: #A60311;
  font-size: 2rem;
}

h3{
  font-family: "Recursive-Bold", "Roboto", sans-serif;
  color: #BF0628;
  font-size: 1.5rem;
}

.homeDescription {
  position: absolute;
  width: 623px;
  height: 57px;
  left: 725px;
  top: 595px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.icons {
  position: absolute;
  width: 623px;
  height: 57px;
  left: 725px;
  top: 658px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.icon {
  padding: 12px;
  color: #37648C;
}

.projects {
  padding-top: 8rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 50%
}

.projectSection {
  padding-left: 1rem;
}

.projectTitle {
  font-family: "Poppins-Bold", "Roboto", sans-serif;
}

.about {
  padding-top: 8rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 50%
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}